@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body,
input,
button,
textarea,
::placeholder
{
    font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #222;
}

body {
  background-color: rgba(239, 204, 0, 0.8);
}
.conteudo{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 50%;
    
    background-color:rgba(255, 255, 255, .6);
    padding: 50px 20px;
    border-radius: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.input-control {
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}
.group-input {
  width: 100%;
  margin: 10px 15px;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
}
.group-input > .input-control {
  width: 80%;
  margin:5px;
}
.group-input > .btn{
  margin:5px;

}
.btn {
  border: 0;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #e67e22;
  color:#000;
}
.btn:hover{
    filter: brightness(90%);
    background-color: #d35400;
}